body{
      height: 100vh;
      color: lime;
      font-family: monospace;
      background-color: black; 
}
.center {
    font-style:italic;
    color: aliceblue;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}
label{
    color: white;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-style: oblique;
    font-size: 25px;
}
.inputs{
   font-size: 25px;
   background: none;
   background-color: rgb(200, 200, 240);
   width: 150px;
   height: 30px;
   margin-left: 19px;
   margin-bottom: 10px;
}
#month{
    font-size:15px;
    margin-left: 0px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
#year{
    margin-left: 1px;
    border: none;
}
#change{
    background-color: blue;
    border: none;
    height: 50px;
    width: 75px;
    border-radius: 15px;
    font-size: larger;
    font-family:'Times New Roman', Times, serif;  
    display: inline;
}
.myButton{
    background-color: blue;
    border: none;
    height: 50px;
    width: 170px;
    border-radius: 15px;
    font-size: larger;
    font-family:'Times New Roman', Times, serif;
    margin-left: 100px;
    display: inline-block;
}
#form{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 250px;
    gap: 20px;
}
#maindiv{
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-left: 300px;
}
.input{
    display: flex;
    align-items: center;
    gap: 5px;
}
#change-button{
    display: flex;
    align-items: center;
    gap: 10px;
}
option{
    background-color: rgba(0, 0, 0, 1);
    color: white;
}
h2{
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    color: rgb(158, 158, 212);
}
#convert{
    position:fixed;
    top: 10px;
    left: 10px;
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    text-decoration: none;
}
#convert:hover{
    background-color: #275382;
    background-repeat: repeat;
    text-transform: uppercase;
}
#convert:active{
    background-repeat: repeat;
}
#clock{
    position: fixed;
    right: 10px;
    top: 10px;
    font-size: 20px;
}
#dmy{
    position: fixed;
    right: 10px;
    bottom: 10px;
    font-size: 20px;
    color: blue;
    background-color: aliceblue;
}
#result{
    font-family:  'Times New Roman', Times, serif;
    color: white;
    text-align: center;
    font-size: 80px;
    border: 1px solid #000000;
    margin: auto;
    padding: 20px;
}